@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="AboutMe" class="container py-5">
  <div class="row align-items-center">    
    <div class="col-md-7">
      <p>@Localizer["AboutMeParagraph1"]</p>
      <p>@Localizer["AboutMeParagraph2"]</p>
    </div>
    <div class="col-md-5">
      <img src="~/images/paolaPerfil03.png" alt="Paola Amarillo" class="img-profile">
    </div>
  </div>
</div>
