<div id="AboutMe" class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-5">
      <img src="~/images/paola02eeee.png" alt="Paola Amarillo" class="img-fluid rounded-3 shadow img-profile">
    </div>
    <div class="col-md-7">
      <h1 class="display-5 fw-bold">Paola Amarillo</h1>
      <p class="lead">Máster en Programación Neurolingüística – Perito Grafóloga – Selectora de Personal</p>
      <p>
        Máster en Programación Neurolingüística (PNL), Perito Grafóloga y Selectora de Personal. Acompaño a empresas y emprendedores a fortalecer sus equipos desde una mirada integral que combina herramientas de análisis humano, comunicación efectiva y procesos conscientes de selección
      </p>
      <p>
        Mi enfoque se basa en potenciar el desarrollo personal y profesional, tanto a nivel individual como organizacional, integrando distintas disciplinas con el objetivo de promover entornos laborales más humanos, eficientes y alineados con valores compartidos.
      </p>
    </div>
  </div>
</div>