<div id="migrandoEmociones" class="container-fluid">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="~/images/migrandoemociones.png" alt="grafologia" class="img-profile">
            </div>
            <div class="col-md-7">
                <h2 class="fw-bold mb-3">Fundadora de Migrando Emociones</h2>
                <p>
                    Soy fundadora y presidenta de la asociación sin fines de lucro <strong>Migrando Emociones</strong>, con sede en Italia. Junto a mi socia, promovemos el acompañamiento integral a personas migrantes, combinando orientación legal, contención emocional y formación intercultural.
                </p>
                <p>
                    Esta iniciativa nace del compromiso compartido con una migración más consciente, empática y organizada, integrando nuestra experiencia profesional con una mirada humana y comunitaria.
                </p>
            </div>
        </div>
        
    </div>
  
</div>