@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="migrandoEmociones" class="container-fluid">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="~/images/migrandoemociones.png" alt="Migrando Emociones" class="img-profile">
            </div>
            <div class="col-md-7">
                <h2 class="fw-bold mb-3">@Localizer["MigrandoTitle"]</h2>
                <p>@Localizer["MigrandoText1"]</p>
                <p>@Localizer["MigrandoText2"]</p>
            </div>
        </div>
    </div>
</div>